
body {
   font-family: Arial, sans-serif;
   background-color: rgb(255, 255, 255);
   margin: 0;
   padding: 0;
}

header {
   background-color: black;
   color: #fff;
   padding: 10px 0;
   position: fixed;
   width: 100%;
   top: 0;
   z-index: 100;
   display: flex;
   align-items: center;
}
.navbar {
   max-width: 800px;
   margin-left: auto;
   display: flex;
   justify-content: space-between;
   align-items: center;

}
.navbar-text{
   transition: transform 1s;
}
.navbar-text :hover{
  transform: scale(1.2);
}


.logo {
   font-size: 24px;
   font-weight: bold;
   border-radius: 7px;
   margin-left: 70px; /* Adicione um espaço à esquerda para separar a logo do canto superior esquerdo */
}


.logo-img {
   width: 100px;
   height: auto;
   border-radius: 7px;
}


.nav-links {
   list-style: none;
   padding: 0;
   margin: 0;
}


.nav-links li {
   display: inline;
   margin-right: 100px;
}


.nav-links li a {
   color: rgb(255, 255, 255);
   text-decoration: none;
   transition: transform 1s;
}
.nav-links li a :hover{
  transform: scale(1.2);
}


.content {
   margin-top: 80px; /* Ajusta a margem para evitar que o conteúdo seja sobreposto pelo cabeçalho */
}


.footer {
   background-color: #757474;
   color: #fff;
   padding: 20px;
   position: fixed;
   bottom: 0;
   left: 0;
   right: 0;
}
