body {
   font-family: Arial, sans-serif;
   background-color: #ebe8e8;
   margin: 0;
   padding: 0;
}
header {


   background-color: rgb(255, 255, 255);


   color: rgb(255, 255, 255);


   padding: 10px 0;


   position: fixed;


   width: 100%;


   top: 0;
   z-index: 100;
   display: flex;
   align-items: center;
}


.navbar {
   max-width: 800px;
   margin-left: auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
}


.logo {
   font-size: 50px;
   font-weight: bold;
   border-radius: 7px;
   margin-left: 100px; 
}


.logo-img {
   width: 120px;
   height: auto;
   border-radius: 12px;
}


.nav-links {
   list-style: none;
   padding: 0;
   margin: 0;
}


.nav-links li {
   display: inline;
   margin-right: 100px;
}


.nav-links li a {
   color: rgb(0, 0, 0);
   text-decoration: none;
   transform: scale(1s);
}

.nav-links li a:hover{
  color:#00A1FF;
  font-weight: bold;
  text-decoration: underline;
  transition: calc(1.2);
}


.content {
   margin-top: 100px; 
}

.container {
  text-align: center;
  padding: 20px;
  margin-top: 300px;

 
  border-radius: 10px;
}
h3{
  color: rgb(0, 0, 0) ;
  font-size: 35px;
  
 



}
h4{
  color: ;
  font-size: 20px;
  margin-top: 30px;

 


}

h1 {
  color: rgb(247, 247, 247);
}

p {
  color: rgb(248, 248, 248);
}

.saiba-mais-button {
  display: inline-block;
  padding: 10px 30px;
  background-color: #00A1FF;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition:  0.3s;
  margin-top: 30px;
}

.saiba-mais-button:hover {
  background-color:#0329ff;
}

.footer {
   background-color: rgb(0, 247, 255);
   color: rgb(0, 0, 0);
   padding: 20px;
   position: fixed;
   bottom: 0;
   left: 0;
   right: 0;
}

:root {
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #00A1FF;
    --color-neutral-30: #ffffff;
    --color-neutral-40: #ffffff;

}

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}

main {
    height: 80vh;
}

footer {
    width: 100%;
    color: var(--color-neutral-40);
}

.footer-link {
    text-decoration: none;
}

#footer_content {
    background-color: var(--color-neutral-10);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

#footer_contacts h1 {
    margin-bottom: 0.75rem;
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
} 

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link i {
    font-size: 1.25rem;    
}

#footer_social_media .footer-link:hover {
    opacity: 0.8;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
    background-color: #4267b3;
}

#whatsapp {
    background-color: #25d366;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link {
    color: var(--color-neutral-30);
    transition: all 0.4s;
}

.footer-list .footer-link:hover {
    color: #7f37c9;
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_subscribe p {
    color: var(--color-neutral-30);
}

#input_group {
    display: flex;
    align-items: center;
    background-color: var(--color-neutral-0);
    border-radius: 4px;
}

#input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input_group button {
    background-color: #7f37c9;
    border: none;
    color: var(--color-neutral-40);
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input_group button:hover {
    opacity: 0.8;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-0);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

@media screen and (max-width: 768px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 426px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}

#facebook {
    background-color: #4267b3;
}

#whatsapp {
    background-color: #25d366;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link {
    color: var(--color-neutral-30);
    transition: all 0.4s;
}

.footer-list .footer-link:hover {
    color: #000000;
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_subscribe p {
    color: var(--color-neutral-30);
}

#input_group {
    display: flex;
    align-items: center;
    background-color: var(--color-neutral-0);
    border-radius: 4px;
}

#input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input_group button {
    background-color: #7f37c9;
    border: none;
    color: var(--color-neutral-40);
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input_group button:hover {
    opacity: 0.8;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-0);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}


@media screen and (max-width: 768px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 426px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
} 
